body {
    background: #03285D;
    background-image: linear-gradient(#373c46 1px, transparent 1px), linear-gradient(to right, #373c46 1px, transparent 1px);
    background-size: 82px 82px;
    background-color: #01214d;
}

header {
    user-select: none;
}

.bg-bleubasique {
    background: #284D8E;
}

.bg-background {
    background: #03285D;
}

.back {
    user-select: none;
}

.text-bleuhovered {
    color: #d8ffff;
}

.text-bleuciel {
    color: #18D8FB;
}


.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-asapcondensed {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@keyframes ColorGradient {
    0% {
        color: #18D8FB;
    }

    50% {
        color: #D8FFFF;
    }

    100% {
        color: #18D8FB;
    }
}

.animation-ColorGradient {
    animation: ColorGradient 5s infinite ease-in-out;
}
/* Partie JS Css */

#presentation {
    transition: 0.5s ease;
}

#menumobile {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

#menumobile.open {
    transform: translateX(0);
}

#whoiam {
    transition: 0.5s ease;
}

#introduction {
    transition: 0.5s ease;
}

#passion {
    transition: 0.5s ease;
}

/* Page seconde */

@keyframes scaleUp {
  0% {
    transform: scale(1);
    color: #fff;
  }
  50% {
    transform: scale(1.7);
    text-shadow: 0 0 5px #18D8FB, 0 0 10px #18D8FB, 0 0 15px #18D8FB, 0 0 20px #18D8FB, 0 0 30px #18D8FB, 0 0 40px #18D8FB, 0 0 55px #18D8FB, 0 0 75px #18D8FB, 2px 2px 2px rgba(24,216,251,0);
    color: #18D8FB;  
  }            
  100% {
    transform: scale(1);
    color: #fff;
  }
}

.scale-up {
  animation: scaleUp 0.4s ease-in-out;
  display: inline-block;
}

.boiteText {
    -webkit-box-shadow: #FFF 0 -1px 4px, #284D8E 0 -2px 3px, #284D8E 0 -10px 20px, #284D8E 0 -18px 40px, 5px 5px 15px 5px rgba(81,255,237,0); 
box-shadow: #FFF 0 -1px 4px, #284D8E 0 -2px 10px, #284D8E 0 -10px 20px, #284D8E 0 -18px 40px, 5px 5px 15px 5px rgba(81,255,237,0);
}
